@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-main: 80 46 252;
    --color-background: 240 240 246;
  }

  body {
    display: flex;
    justify-content: center;
  }


  /* nav icon active */
  .menu-icon{ fill: red;}

  .active-menu{color: #040113;}
  .active-menu svg{fill: #C6C6D0;}
}
